.btn
    background: $main--500
    display: block
    width: auto
    color: $white--500
    padding: .4rem 1rem
    width: fit-content
    border-radius: 5rem
    margin-top: 1rem
    transition: .25s ease-out
    font-size: 1.25rem
    &:hover
        color: $main--500
        background-color: white
    &_inline
        @extend .btn
        display: inline-block
        font-weight: 400
        font-size: inherit
        margin-right: 1rem
