section
    display: flex
    justify-content: center
    align-items: left
    flex-direction: column
    min-height: 100vh
    margin-left: 3rem
    padding: 8rem 0
    padding-right: 1rem
    position: relative
    &::before
        content: ""
        display: block
        width: .05rem
        height: 100vh
        background-color: $main--500
        position: absolute
        top: 50vh
        left: -1.5rem
    &::after
        content: ""
        display: block
        position: absolute
        background-color: $main--500
        width: .5rem
        height: .5rem
        left: -1.75rem

.section
    &_description
        padding-top: 1rem
        p
            padding: .5rem 0
            &.subtitle_low,
            &.subtitle_xlow
                padding: 0
        &__subsection
            padding-top: .5rem
    &_skills
        padding-top: 1rem
        &__list
            display: flex
            flex-wrap: wrap
            padding: .5rem 0
        &__item
            padding: 0 .25rem
            color: $grey--400
    &_date
        font-size: .75rem
        color: $grey--200
    &_list
        padding-top: 1rem
        padding-left: .5rem
        &__item
            color: $grey--300
            padding-bottom: .5rem
            p
                padding: 0
            span
                color: $grey--500
            *
                padding: .5rem 0
