---
import Job from "./Job.astro"
import { getJobs } from "@/constants/jobs";
import { getLocaleText } from "@/locales";
import Heading from "../common/typography/Heading.astro";
const jobs = getJobs('asc');
---



<main>
  <article>
    <header>
      <Heading type="h6" color="main">{getLocaleText('jobs.title')}</Heading>
    </header>
    <section>
      {jobs.map((job, index) => <Job job={job} index={index} />)}
    </section>
  </article>
</main>

<style>
main {
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
  padding: var(--padding);
  overflow: scroll;
  overscroll-behavior: none;
  scrollbar-width: none; /* Para Firefox */
  z-index: 0;
}

@media only screen and (min-width: 600px) {
  main {
    max-width: 80vw;
  }
}

/* Si deseas ocultar la barra de desplazamiento en Chrome y Edge */
main::-webkit-scrollbar {
  display: none;
}

h3 {
  font-weight: 200;
}

article {
  padding-top: 20rem;
  position: relative;
}
</style>