---
// Layouts
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div>
    <h2>Job 1</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, quis.</p>
  </div>
  <div>
    <h2>Job 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, quis.</p>
  </div>
  <div>
    <h2>Job 3</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, quis.</p>
  </div>
</Layout>