---
// Layouts
import Main from '@/components/common/Main.astro';
import Heading from '@/components/common/typography/Heading.astro';
import Link from '@/components/common/typography/Link.astro';
import Paragraph from '@/components/common/typography/Paragraph.astro';
import Layout from "@/layouts/Layout.astro";
import { getLocaleText } from '@/assets/locales';
import { Icon } from 'astro-icon/components';
---

<Layout>
  <Main class='contact'>
    <Heading type="h5" color="main">
      {getLocaleText('contact.title')}
    </Heading>
    <section>
      <Heading type="h6">
        {getLocaleText('contact.email.title')}
      </Heading>
      <Paragraph>
        {getLocaleText('contact.email')}
      </Paragraph>
    </section>
    <section>
      <Heading type="h6">
        {getLocaleText('contact.phone.title')}
      </Heading>
      <Paragraph>
        {getLocaleText('contact.phone')}
      </Paragraph>
    </section>
    <section class="social">
      <Link>
        <Icon name="github" />
      </Link>
      <Link>
        <Icon name="linkedin" />
      </Link>
    </section>
  </Main>
</Layout>

<style>
  section {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .contact {
    margin-bottom: 3rem;
  }

  .social {
    display: flex;
    flex-direction: row;
    gap: calc(var(--base) * 3);
    justify-content: end;
  }
</style>