---
// Layouts
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div>
    <h2>Project 1</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, quis.</p>
  </div>
  <div>
    <h2>Project 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, quis.</p>
  </div>
  <div>
    <h2>Project 3</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, quis.</p>
  </div>
</Layout>