$font-family: 'Roboto Mono', sans-serif
$secondary-family: 'Zilla Slab', serif

:root
    font-family: $font-family
    font-weight: 400
    font-style: normal

body
    @include laptop
        font-size: 1.2rem

h1
    font-size: 3.5rem
    @include laptop
        font-size: 5rem

h2
    font-size: 1.75rem
    @include laptop
        font-size: 2.5rem

h3
    font-size: 1.5rem
    @include laptop
        font-size: 2.25rem

p
    font-size: inherit

@include headings
    font-weight: 700
    font-family: $secondary-family

.high_color
    color: $main--500
    font-weight: 700
    white-space: nowrap

strong
    @extend .high_color

.subtitle
    font-family: $font-family
    font-size: 1.2rem
    @include laptop
        font-size: 1.3rem
    font-weight: 400
    color: $main--500
    &_low
        font-family: $font-family
        font-size: 1.2rem
        @include laptop
            font-size: 1.2rem
        font-weight: 400
        color: $grey--300
    &_xlow
        font-family: $font-family
        font-size: 1rem
        @include laptop
            font-size: 1.5rem
        font-weight: 400
        color: $grey--300

a
    @extend .high_color
    text-decoration: underline
    &:hover
        color: $main--300
    &.low_color
        color: $grey--300
        font-weight: 400
        &:hover
            color: $main--500

.small_text
    font-size: .75rem
