--- 
---

<div class="custom-404">
  <canvas id="spaceInvader" />
</div>

<script src="./game/index.js" />

<style>
  .custom-404 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
</style>