---
import Link from './typography/Link.astro';

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<Link href={href} class:list={[className, { active: isActive }]} {...props}>
	<span><slot /></span>
</Link>