---
// Components
import Menu from '@/components/common/Menu.astro'

// Utils


// props
---

<header>
  <h1>Cesar Novoa</h1>
  <h2>Developer and designer</h2>
  <Menu />
</header>



<style>
  h1 {
    font-weight: 100;
    font-size: 2rem;
  }
</style>