---
---

<main>
  <slot />
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    padding: var(--padding);
    padding-left: 20%;
    padding-top: 50dvh;
    box-sizing: border-box;
    top: var(--padding);
    right: var(--padding);
    left: var(--padding);
    bottom: var(--padding);
    font-size: 1.2rem;
    overflow: scroll;
    height: 100dvh;
    max-height: 100dvh;
    scrollbar-width: none;
  }
  
  main::-webkit-scrollbar {
    display: none;
  }
  
  @media only screen and (min-width: 600px) {
    main{
      padding-left: 70%;
    }
  }
</style>