---
import HeaderLink from '@/components/common/HeaderLink.astro'
import {getLocaleText} from '@/locales'
import { ROUTES, MENU_ROUTES_MAPS } from "@/constants/routing"

---
<nav>
    {MENU_ROUTES_MAPS.map(route => {
      return <HeaderLink href={ROUTES[route]}>{getLocaleText(`menu.${route}`)}</HeaderLink>
    })}
</nav>

<style>
  nav{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }
</style>